.DS_Store
# Common VCS dirs
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*~
# Various IDEs
.project
.idea/
*.tmproj
.c9/
# Self-signed certificates
certs/
acmedns*.json
charts/
src/
