# Default values for workbench.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

workbench:
  dev:
    enabled: false
    uisrc: ""
  name: "Labs Workbench"
  landing_html: | 
    <p>Labs Workbench is an environment where developers can prototype tools and capabilities that help build out the NDS framework and services.</p>
    <p>In particular, it is a place that can host the development activities of <a href='http://www.nationaldataservice.org/projects/pilots.html'>NDS pilot projects.</a></p>
  brand_logo_path: "../asset/png/favicon-32x32.png"
  favicon_path: "../asset/png/favicon-16x16.png"
  learn_more_url: "http://www.nationaldataservice.org/platform/workbench.html"
  help_links: "[{ \"name\": \"Feature Overview\", \"icon\": \"fa-info-circle\", \"url\": \"https://nationaldataservice.atlassian.net/wiki/display/NDSC/Feature+Overview\" },{ \"name\": \"F.A.Q.\", \"icon\": \"fa-question-circle\", \"url\": \"https://nationaldataservice.atlassian.net/wiki/display/NDSC/Frequently+Asked+Questions\"}, { \"name\": \"User's Guide\",           icon: \"fa-book\", \"url\": \"https://nationaldataservice.atlassian.net/wiki/display/NDSC/User%27s+Guide\" }, { \"name\": \"Developer's Guide\", \"icon\": \"fa-code-fork\", \"url\": \"https://nationaldataservice.atlassian.net/wiki/display/NDSC/Developer%27s+Guide\" },{ \"name\": \"Acceptable Use Policy\",  \"icon\": \"fa-gavel\", \"url\": \"https://nationaldataservice.atlassian.net/wiki/display/NDSC/Acceptable+Use+Policy\" }]"
  domain: "local.ndslabs.org"
  subdomain_prefix: "www"
  volume_name: "global"
  volume_path: "/ndslabs/data/volumes"
  etcd_path: "/ndslabs/data/etcd"
  support_email: "ndslabs-support@nationaldataservice.org"
  analytics_tracking_id: ""
  require_account_approval: true
  strategyType: "RollingUpdate"
  specs:
    repo: "https://github.com/nds-org/ndslabs-specs.git"
    branch: "master"
  images:
    webui: "ndslabs/angular-ui:1.2.0"
    apiserver: "ndslabs/apiserver:1.2.0"
    etcd: "quay.io/coreos/etcd:v3.3"
    smtp: "namshi/smtp:latest"
  etcd_storage:
    persistent:
      # Values can be "false" for no persistent storage, "aws" for awsElasticBlockStore,
      # or "gce" for gcePersistentDisk
      type: false
      # If using awsElasticBlockStore enter the EBS volume id, if using gcePersistentDisk
      # enter the persistent disk name
      volume_id:
    storage_class:
    access_mode: "ReadWriteOnce"
    size: "1Gi"
  home_storage:
    home_pvc_suffix: "-home"
    pvc_storage_class: "nfs"
  shared_storage:
    enabled: false
    volume_name: "shared"
    volume_path: "/tmp/shared"
    read_only: true
  timeout: 30
  inactivity_timeout: 480

  # Enable optional UI features (default is true)
  advanced_features:
    show_config: true
    show_logs: true
    show_console: true
    show_remove_service: true
    show_edit_service: true
    show_service_help_icon: true
    show_create_spec: true
    show_import_spec: true
    show_file_manager: true

oauth:
  enabled: false
  signin_url: "https://$host/login/"
  auth_url: "https://$host/cauth/auth"
  auth_response_headers: "x-auth-request-user, x-auth-request-email" # , x-auth-request-access-token, x-auth-request-redirect, x-auth-request-preferred-username"

certmgr:
  cluster_issuer: "acmedns-issuer"
  issuer: ""

rbac:
  enabled: true

smtp:
  # Specify host/port to use standalone SMTP
  host: 
  port: 
  # Specify user/pass to use Gmail SMTP
  gmail_user: 
  gmail_pass: 

# Insert your tls certificate and private key here
# NOTE: To generate a new certificate, you can run the helper script included with this chart:
#    ./generate-self-signed-cert.sh [DOMAIN]
#
# If you do not specify a domain, you will be prompted for one
tls:
  enabled: true
  secretName: "ndslabs-tls"
    
resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
